<script src="https://kit.fontawesome.com/60f7992e09.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="projetos.css">
<script src="projetos.js"></script>

<div class="spinner-box loading">
    <div class="solar-system">
      <div class="earth-orbit orbit">
        <div class="planet earth"></div>
        <div class="venus-orbit orbit">
          <div class="planet venus"></div>
          <div class="mercury-orbit orbit">
            <div class="planet mercury"></div>
            <div class="sun"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  

<div class="projeto">
    <!-- Sarajevo -->
    <div class="card-project">
        <div class="thumb"><img class="thumb-project"
                src="https://cdn.discordapp.com/attachments/757077752099897364/887756104518475796/saravejo.png"
                alt="tela de um site">
        </div>
        <div class="body">
            <h1>Sarajevo</h1>
            <p>Landing page desenvolvida com as tecnologias HTML5, CSS3 e JavaScript, pode ser usada como inspiração
                para seu site.</p>

            <div class="card-link">
                <a href="https://edinelsonslima.github.io/saravejo/" target="_blank" rel="noopener noreferrer"><i class="svg fab fab fas fa-share"></i></a>
                <a href="https://github.com/edinelsonslima/saravejo" target="_blank" rel="noopener noreferrer">
                    <i class="svg fab fab fa-github"></i>
                </a>
            </div>
        </div>
    </div>

    <!-- Clone twitter -->
    <div class="card-right">
        <div class="card-project right">
            <div class="body">
                <h1>Clone Twitter</h1>
                <p>App clone desenvolvido com ReactJs, Styled-components e usando dos benefícios do desenvolvimento em
                    mobile first.</p>

                <div class="card-link">
                    <a href="https://twitter-ui-clone-react.netlify.app/" target="_blank"
                        rel="noopener noreferrer"><i class="svg fab fab fas fa-share"></i></a>
                    <a href="https://github.com/edinelsonslima/twitter-clone" target="_blank"
                        rel="noopener noreferrer"><i class="svg fab fab fa-github"></i></a>
                </div>
            </div>
            <div class="thumb"><img class="thumb-project right"
                    src="https://cdn.discordapp.com/attachments/757077752099897364/887756037606735972/clone-twitter.png"
                    alt="clone twitter">
            </div>
        </div>
    </div>

    <!-- Gerenciamento de carro -->
    <div class="card-project">
        <div class="thumb"><img class="thumb-project"
                src="https://cdn.discordapp.com/attachments/757077752099897364/887756046448328744/fullstack.png"
                alt="aplicação fullstack">
        </div>
        <div class="body">
            <h1>Gerenciamento de Carro</h1>
            <p>Cadastre carros, edite e delete, um CRUD completo, tudo feito em NodeJs e ReactJs com banco MySQL.</p>

            <div class="card-link">
                <!-- <a href="#" target="_blank" rel="noopener noreferrer">Acesse aqui</a> -->
                <a href="https://github.com/edinelsonslima/teste-fullstack-node-react/tree/master/App" target="_blank"
                    rel="noopener noreferrer"><i class="svg fab fab fa-github"></i></a>
            </div>
        </div>

    </div>

    <!-- Cadastro de curso -->
    <div class="card-right">
        <div class="card-project right">
            <div class="body">
                <h1>Cadastro de Curso</h1>
                <p>Uma aplicação desenvolvida com o intuito de cadastrar cursos através de um formulário e mostrar em
                    uma tabela.</p>

                <div class="card-link">
                    <a href="https://edinelsonslima.github.io/cadastro-de-curso/" target="_blank"
                        rel="noopener noreferrer"><i class="svg fab fab fas fa-share"></i></a>
                    <a href="https://github.com/edinelsonslima/cadastro-de-curso" target="_blank"
                        rel="noopener noreferrer"><i class="svg fab fab fa-github"></i></a>
                </div>
            </div>
            <div class="thumb"><img class="thumb-project right"
                    src="https://cdn.discordapp.com/attachments/757077752099897364/887756042576990228/curso.png"
                    alt="Aplicação de cadastro">
            </div>
        </div>
    </div>

    <!-- Tabela periódica -->
    <div class="card-project">
        <div class="thumb"><img class="thumb-project"
                src="https://cdn.discordapp.com/attachments/757077752099897364/887756086256496750/tabela-periodica.png"
                alt="Tabela Periódica">
        </div>
        <div class="body">
            <h1>Tabela Periódica</h1>
            <p>Uma tabela periódica interativa e divertida, passe o mouse sobre os elementos e veja</p>

            <div class="card-link">
                <a href="https://edinelsonslima.github.io/tabela-periodica/" target="_blank"
                    rel="noopener noreferrer"><i class="svg fab fab fas fa-share"></i></a>
                <a href="https://github.com/edinelsonslima/tabela-periodica" target="_blank"
                    rel="noopener noreferrer"><i class="svg fab fab fa-github"></i></a>
            </div>
        </div>

    </div>

    <!-- Aplicação com login -->
    <div class="card-right">
        <div class="card-project right">
            <div class="body">
                <h1>Aplicação com Login</h1>
                <p>Aplicação com sistema de login, cadastro de produto e registro de movimentação.</p>

                <div class="card-link">
                    <!-- <a href="https://edinelsonslima.github.io/cadastro-de-curso/" target="_blank"
                        rel="noopener noreferrer">Acesse aqui</a> -->
                    <a href="https://github.com/edinelsonslima/keener" target="_blank"
                        rel="noopener noreferrer"><i class="svg fab fab fa-github"></i></a>
                </div>
            </div>
            <div class="thumb"><img class="thumb-project right"
                    src="https://cdn.discordapp.com/attachments/757077752099897364/887756049736687636/keener.png"
                    alt="Aplicação de cadastro">
            </div>
        </div>
    </div>

    <!-- Relogio Flip -->
    <div class="card-project">
        <div class="thumb"><img class="thumb-project"
                src="https://cdn.discordapp.com/attachments/757077752099897364/887756031239807027/clok-dark-white.png"
                alt="relógio flip">
        </div>
        <div class="body">
            <h1>Relógio Flip</h1>
            <p>Projeto de um relógio no modelo flip com tema escuro ou claro. Ideal para deixar na tela do dispositivo
                enquanto estuda.</p>


            <div class="card-link">
                <a href="https://edinelsonslima.github.io/clock-dark-white/" target="_blank"
                    rel="noopener noreferrer"><i class="svg fab fab fas fa-share"></i></a>
                <a href="https://github.com/edinelsonslima/clock-dark-white" target="_blank"
                    rel="noopener noreferrer"><i class="svg fab fab fa-github"></i></a>
            </div>
        </div>

    </div>

    <!-- Tabela de permissão -->
    <div class="card-right">
        <div class="card-project right">
            <div class="body">
                <h1>Tabela de permissão</h1>
                <p>Uma tabela com hierarquia de permissões a qual registra todas a interações e salva em um objeto.</p>

                <div class="card-link">
                    <!-- <a href="https://edinelsonslima.github.io/cadastro-de-curso/" target="_blank"
                        rel="noopener noreferrer">Acesse aqui</a> -->
                    <a href="https://github.com/edinelsonslima/moodar" target="_blank"
                        rel="noopener noreferrer"><i class="svg fab fab fa-github"></i></a>
                </div>
            </div>
            <div class="thumb"><img class="thumb-project right"
                    src="https://cdn.discordapp.com/attachments/757077752099897364/887756087468630026/tabela-permissao.png"
                    alt="tabela de permissão">
            </div>
        </div>
    </div>

    <!-- Tela de Login -->
    <div class="card-project">
        <div class="thumb"><img class="thumb-project"
                src="https://cdn.discordapp.com/attachments/757077752099897364/887756090215911464/tela-login.png"
                alt="tela de login">
        </div>
        <div class="body">
            <h1>Tela de login</h1>
            <p>Exemplo de tela de login simples e funcional, desenvolvida com HTML5 e CSS3</p>

            <div class="card-link">
                <a href="https://edinelsonslima.github.io/painel-login/" target="_blank"
                    rel="noopener noreferrer"><i class="svg fab fab fas fa-share"></i></a>
                <a href="https://github.com/edinelsonslima/painel-login" target="_blank"
                    rel="noopener noreferrer"><i class="svg fab fab fa-github"></i></a>
            </div>
        </div>

    </div>

    <!-- Passeio do cavalo -->
    <div class="card-right">
        <div class="card-project right">
            <div class="body">
                <h1>Passeio de Cavalo</h1>
                <p>Desafio de lógica bem interessante usando um tabuleiro de xadrez, desenvolvido em JavaScript.</p>

                <div class="card-link">
                    <a href="https://edinelsonslima.github.io/passeio-do-cavalo/" target="_blank"
                        rel="noopener noreferrer"><i class="svg fab fab fas fa-share"></i></a>
                    <a href="https://github.com/edinelsonslima/passeio-do-cavalo" target="_blank"
                        rel="noopener noreferrer"><i class="svg fab fab fa-github"></i></a>
                </div>
            </div>
            <div class="thumb"><img class="thumb-project right"
                    src="https://cdn.discordapp.com/attachments/757077752099897364/887756098348650496/passeio-cavalo.png"
                    alt="Tabuleiro de xadrez">
            </div>
        </div>
    </div>

    <!-- Cronometro -->
    <div class="card-project">
        <div class="thumb"><img class="thumb-project"
                src="https://cdn.discordapp.com/attachments/757077752099897364/887756037912924180/cronometro.png"
                alt="cronometro">
        </div>
        <div class="body">
            <h1>Cronometro</h1>
            <p>Cronometro desenvolvido com HTML5, CSS3 e JavaScript, possui um iniciar, pause e zerar. Aplicação simples
                mas bem funcional.</p>


            <div class="card-link">
                <a href="https://edinelsonslima.github.io/cronometro.github.io/
                " target="_blank" rel="noopener noreferrer"><i class="svg fab fab fas fa-share"></i></a>
                <a href="https://github.com/edinelsonslima/cronometro.github.io" target="_blank"
                    rel="noopener noreferrer"><i class="svg fab fab fa-github"></i></a>
            </div>
        </div>

    </div>

    <!-- Relógio Digital  -->
    <div class="card-right">
        <div class="card-project right">
            <div class="body">
                <h1>Relógio Digital</h1>
                <p>Um relógio estiloso, minimalista e agradável, ideal para deixa em telas que irá usar muitas vezes.
                </p>

                <div class="card-link">
                    <a href="https://edinelsonslima.github.io/relogio/" target="_blank" rel="noopener noreferrer"><i class="svg fab fab fas fa-share"></i></a>
                    <a href="https://github.com/edinelsonslima/relogio" target="_blank"
                        rel="noopener noreferrer"><i class="svg fab fab fa-github"></i></a>
                </div>
            </div>
            <div class="thumb"><img class="thumb-project right"
                    src="https://cdn.discordapp.com/attachments/757077752099897364/887756292775612536/relogio-digital.png"
                    alt="Relógio Digital">
            </div>
        </div>
    </div>

</div>