@import 'css/all.css';
/*Menu hamburger config  */

input#checkbox {
    display: none;
}

svg#arrow-left, svg#arrow-right {
    font-size: 1.4rem;
    position: absolute;
    top: 35px;
    right: -40px;
    z-index: 1;
    color: var(--corPrimary);
    cursor: pointer;
}

svg#arrow-right {
    left: 20px;
    visibility: collapse;
}

svg.arrow:hover {
    transform: scale(1.1);
    filter: brightness(.7);
}

input#checkbox:checked~aside.sidebar {
    left: -265px;
    width: 0;
}

/* Aside config */

aside.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 100%;
    max-width: 250px;
    padding: 20px 0;
    background: #000000af;
    color: #fff;
    position: relative;
    left: 0;
    transition: 500ms all ease-in-out;
}

aside div.title-aside {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 0 25px;
}

aside div.title-aside h1.logo-title {
    text-transform: uppercase;
    font-size: 2.2rem;
}

aside div.title-aside h1.logo-title span {
    color: var(--corPrimary)
}

aside div.title-aside ul.aside-options {
    list-style: none;
    padding: 0 0 0 20px;
    white-space: nowrap;
}

aside div.title-aside ul.aside-options li {
    margin: 25px 0;
}

aside div.title-aside ul.aside-options li svg {
    width: 20px;
    margin-right: 15px;
}

aside div.title-aside ul.aside-options li a {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    position: relative;
}

aside div.title-aside ul.aside-options li a:hover {
    color: var(--corPrimary);
}

aside div.footer-aside ul {
    display: flex;
    flex-direction: column;
    gap: 40px;
    list-style: none;
    padding: 0 0 0 20px;
}

aside div.footer-aside ul li a {
    text-decoration: none;
    color: #fff;
    position: relative;
}

aside div.footer-aside ul li a:hover::after {
    position: absolute;
    content: '';
    top: 2px;
    left: -10px;
    width: 2px;
    height: 19px;
    background: var(--corPrimary);
}

div.footer-aside ul li a:hover {
    color: var(--corPrimary);
}

aside div.footer-aside ul li.footer {
    color: rgb(196, 196, 196);
}

/* icones sociais config */

div.sociais {
    display: flex;
    position: fixed;
    top: 0;
    right: 35px;
    border-radius: 0 0 10px 10px;
    background-color: var(--corPrimaryOpacity);
}

div.sociais a {
    padding: 5px 15px;
}

div.sociais svg {
    color: #fff;
    font-size: 1.2rem;
}

div.sociais a:hover {
    filter: brightness(.5);
    transform: translateY(-4px);
}

/* Main config */

main {
    margin: auto;
    max-width: 1500px;
    width: 100%;
    height: calc(100vh - 65px);
    margin-top: 70px;
    /* border: 1px solid rgb(255, 0, 0); */
    position: relative;
}

iframe.container {
    /* border: 1px solid #fff; */
    color: #fff;
    display: flex;
    width: 100%;
    height: 100%;
    position: absolute;
}

/* Media Query */

@media screen and (max-width:770px) {
    main {
        width: 100%;
        height: calc(100vh - 110px);
        width: 100%;
    }
    div.sociais {
        top: 60px;
    }
    /* Menu navbar  */
    aside.sidebar {
        display: flex;
        flex-direction: row;
        justify-content: center;
        max-width: 100vw;
        width: 100%;
        height: 50px;
        padding: 30px 10px;
        background: #a176ff31;
        color: #fff;
        position: fixed;
        top: 0;
        transition: all 0.5s;
        z-index: 1;
    }
    aside div.title-aside h1.logo-title {
        margin-top: -10px;
    }
    aside div.title-aside {
        flex-direction: row;
    }
    aside div.title-aside h1.logo-title {
        position: absolute;
        left: 10px;
        top: 12px;
        text-transform: uppercase;
    }
    aside div.title-aside ul.aside-options {
        padding: 0;
        display: flex;
        position: absolute;
        right: 10px;
        top: 13px;
        max-width: 400px;
        white-space: normal;
    }
    aside div.title-aside ul.aside-options li {
        text-align: center;
        margin: 5px;
    }
    aside div.title-aside ul.aside-options li svg {
        margin: 0 auto;
    }
    aside div.footer-aside ul {
        display: none;
    }
    svg#arrow-left, svg#arrow-right {
        display: none;
    }
}

@media screen and (max-width:625px) {
    main {
        margin-top: 60px;
        height: calc(100vh - 110px);
        width: 100%;
    }
    svg#arrow-left, svg#arrow-right {
        display: none;
    }
    aside div.title-aside ul.aside-options {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: fixed;
        bottom: 0;
        top: auto;
        right: 0;
        max-width: 100vw;
        width: 100%;
        height: 50px;
        padding: 5px;
        transition: all 0.5s;
        background-color: var(--corPrimary);
    }
    aside div.title-aside ul.aside-options li a {
        padding: 0;
    }
    aside div.title-aside ul.aside-options li a:hover {
        color: #000;
    }
    div.sociais {
        display: none;
    }
}

/* keyframes config */

@keyframes arrowMove {
    from {
        transform: translateX(10px)
    }
}