<link rel="stylesheet" href="skill.css">
<script src="./skill.js"></script>

<div class="spinner-box loading">
    <div class="solar-system">
      <div class="earth-orbit orbit">
        <div class="planet earth"></div>
        <div class="venus-orbit orbit">
          <div class="planet venus"></div>
          <div class="mercury-orbit orbit">
            <div class="planet mercury"></div>
            <div class="sun"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

<div id="skills">
    <!-- <div class="column-1"> -->
    <div class="content lib-fram">
        <div class="icon-content">
            <img class="icon" alt="Edinelson-nextjs"
                src="../../assets/icons/nextjs.webp">
            <img class="icon" alt="Edinelson-React"
                src="../../assets/icons/reactjs.webp">
            <img class="icon" alt="Edinelson-NodeJs"
                src="../../assets/icons/nodejs.webp">
            <img class="icon" alt="Edinelson-scss"
                src="../../assets/icons/sass.webp">
        </div>

        <small> bibliotecas e frameworks</small>
    </div>

    <div class="content ling-programacao">
        <div class="icon-content">

            <img class="icon" alt="Edinelson-Ts"
                src="../../assets/icons/ts.webp">

            <img class="icon" alt="Edinelson-Js"
                src="../../assets/icons/js.webp">

            <img class="icon" alt="Edinelson-c"
                src="../../assets/icons/c.webp">

            <img class="icon" alt="Edinelson-java"
                src="../../assets/icons/java.webp">
        </div>

        <small> linguagens de programação</small>

    </div>


    <div class="content ling-marcacao">
        <div class="icon-content">
            <img class="icon" alt="Edinelson-HTML"
                src="../../assets/icons/html.webp">
            <img class="icon" alt="Edinelson-markdown"
                src="../../assets/icons/markdown.webp">
            <img class="icon" alt="Edinelson-CSS"
                src="../../assets/icons/css.webp">
        </div>
        <small> linguagens de marcação e estilo</small>
    </div>

    <div class="content banco-dados">
        <div class="icon-content">
            <img class="icon" alt="Edinelson-mongodb"
                src="../../assets/icons/mongo.webp">
            <img class="icon" alt="Edinelson-mysql"
                src="../../assets/icons/mysql.webp">
        </div>
        <small> bancos de dados</small>
    </div>

    <div class="content version">
        <div class="icon-content">
            <img class="icon" alt="Edinelson-git"
                src="../../assets/icons/git.webp">
            <img class="icon" alt="Edinelson-github"
                src="../../assets/icons/github.webp">
        </div>

        <small>versionamento</small>
    </div>

    <div class="content amb-dev">
        <div class="icon-content">
            <img class="icon" alt="Edinelson-vscode"
                src="../../assets/icons/vscode.webp">

            <img class="icon" alt="Edinelson-sublime" src="../../assets/icons/sublime.webp">

            <img class="icon" alt="Edinelson-netbeans"
                src="../../assets/icons/netbeans.webp">
        </div>

        <small>ambientes de desenvolvimento</small>
    </div>

    <div class="content ops">
        <div class="icon-content">
            <img class="icon" alt="Edinelson-linux"
                src="../../assets/icons/linux.webp">
            <img class="icon" alt="Edinelson-windows"
                src="../../assets/icons/windows.webp">
        </div>

        <small>sistemas operacionais</small>
    </div>
</div>