@import '../../css/all.css';
/* Home config */
div.home {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 100%;
    height: 100%;
    color: #fff;
    padding: 0 5px 10px 5px;
    margin-bottom: 60px;
}

/* Title config  */

div.titles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-height: 300px;
    height: 100%;
    width: 100%;
    text-shadow: 0 0 5px rgb(0, 0, 0);
}

div.titles h2.title-secundary-home {
    text-transform: uppercase;
    font-size: 2rem;
    margin-bottom: -15px;
}

div.titles h1.title-primary-home {
    text-transform: uppercase;
    font-size: 4rem;
    color: var(--corPrimary);
}

div.titles div.div-p {
    width: 100%;
}

div.titles p.text-resume {
    font-family: 'Courier New', Courier;
    color: #fff;
}

div.titles p.text-resume::after {
    content: '|';
    animation: pisca .7s infinite;
}

div.titles a.button-learn {
    max-width: 200px;
    margin-top: 30px;
    padding: 7px;
    font-size: .9rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    text-decoration: none;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 8px;
    cursor: pointer;
}

div.titles a.button-learn:hover {
    letter-spacing: 1px;
    color: var(--corPrimary);
    border: 3px solid var(--corPrimary);
    transition: all .5s;
}

/* Thumb config */

.projetos-amostra a {
    text-decoration: none;
    color: white;
}

.projetos-amostra a h3 {
    margin-bottom: 20px;
}

.projetos-amostra a h3 svg {
    margin-left: 10px;
    color: var(--corPrimary);
}

div.row-thumb {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    max-height: 150px;
    width: 100%;
    height: 100%;
    overflow-x: scroll;
}

div.row-thumb div.thumbnail {
    border: 3px solid var(--corPrimaryOpacity);
    border-radius: 8px;
    position: relative;
}

div.row-thumb div.thumbnail img {
    /* width: 200px; */
    height: 100%;
    border-radius: 8px;
}

small.thumbnail-legend {
    position: absolute;
    left: 6px;
    bottom: 6px;
    text-shadow: 0px 0px 5px #000000;
}

/* News config */

div.row-news {
    display: flex;
    flex-direction: column;
    width: 100%;
}

div.row-news a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

div.row-news label {
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: bold;
}

div.row-news label svg {
    color: var(--corPrimary);
    font-size: 1.8rem;
    margin-left: 5px;
}

div.row-news small {
    font-size: 1rem;
}

@media screen and (max-width:469px) {
    div.titles h2.title-secundary-home {
        font-size: 2rem;
    }
    div.titles h1.title-primary-home {
        font-size: 3rem;
    }
}

@media screen and (max-width:352px) {
    div.titles h2.title-secundary-home {
        font-size: 1.5rem;
    }
    div.titles h1.title-primary-home {
        font-size: 2.46rem;
    }
}

@keyframes pisca {
    0%, 100% {
        color: transparent;
    }
    50% {
        color: #fff;
    }
}