<link rel="stylesheet" href="home.css">

<!-- SOLAR SYSTEM -->
<div class="spinner-box loading">
    <div class="solar-system">
        <div class="earth-orbit orbit">
            <div class="planet earth"></div>
            <div class="venus-orbit orbit">
                <div class="planet venus"></div>
                <div class="mercury-orbit orbit">
                    <div class="planet mercury"></div>
                    <div class="sun"></div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="home">
    <div class="titles">
        <h2 class="title-secundary-home">FullStack Developer</h2>
        <h1 class="title-primary-home">Edinelson Lima</h1>
        <p id="resume" class="text-resume">
            Ser desenvolvedor é uma viagem onde a próxima parada é a solução de um problema.
        </p>
        <a class="button-learn" href="../about/sobre.html">Saiba mais</a>
    </div>

    <div class="projetos-amostra">
        <a href="../project/projetos.html">
            <h3>Veja alguns projetos <i class="fas fa-link"></i> </h3>
        </a>
        <div class="row-thumb">
            <div class="thumbnail">
                <a href="https://twitter-ui-clone-react.netlify.app/" target="_blank">
                    <img src="../../assets/img/twitter-ui-clone.webp" loading="lazy"
                        alt="demonstrando projeto de ui clone do twitter">
                </a>
                <small class="thumbnail-legend">Clone UI Twitter</small>
            </div>

            <div class="thumbnail">
                <a href="https://edinelsonslima.github.io/saravejo" target="_blank">
                    <img src="../../assets/img/sarajevo.webp" loading="lazy" alt="demonstrando projeto de landing page">
                </a>
                <small class="thumbnail-legend">Sarajevo</small>
            </div>

            <div class="thumbnail">
                <a href="https://edinelsonslima.github.io/tabela-periodica/" target="_blank">
                    <img src="../../assets/img/tabela-periodica.webp" loading="lazy"
                        alt="demonstrando uma pagina de gerenciamento de curso">
                </a>
                <small class="thumbnail-legend">Tabela Periódica</small>
            </div>

            <div class="thumbnail">
                <a href="https://edinelsonslima.github.io/cadastro-de-curso/" loading="lazy" target="_blank">
                    <img src="../../assets/img/cadastro.webp" alt="demonstrando tabela periódica interativa">
                </a>
                <small class="thumbnail-legend">Gerir cursos</small>
            </div>

        </div>
    </div>

    <div class="row-news">
        <a href="https://github.com/edinelsonslima?tab=repositories" target="blank">
            <label> News <i class="fas fa-caret-down"></i> </label>
            <small>
                Acesse os repositórios no github para ficar atualizado sobre todos os meus projetos
            </small>
        </a>
    </div>
</div>


<script src="home.js"></script>
<script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" data-auto-a11y="true"></script>