<script src="https://kit.fontawesome.com/60f7992e09.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="sobre.css">
<script src="sobre.js"></script>

<!-- SOLAR SYSTEM -->
<div class="spinner-box loading">
    <div class="solar-system">
      <div class="earth-orbit orbit">
        <div class="planet earth"></div>
        <div class="venus-orbit orbit">
          <div class="planet venus"></div>
          <div class="mercury-orbit orbit">
            <div class="planet mercury"></div>
            <div class="sun"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  

<div class="about">
    <div class="info">
        <div class="text">
            <h1>Edinelson Lima</h1>
            <p>Sou acadêmico de ciências da computação na instituição Estácio Teresina, na qual venho desenvolvendo
                muito de
                meus conhecimentos gerais e de forma autodidata busco obter conhecimentos específicos. Através de cursos
                e
                atividades extracurriculares consigo agregar mais ao meu aprendizado, estou sempre em busca de
                aperfeiçoamento para programar codigos limpos e eficientes, nunca deixando a pratica de lado estou
                desenvolvendo projetos variados para me tirar da zona de conforto e mostrar minha evolução ao longo do
                tempo.
            </p>
        </div>
        <div class="contato">
            <h2>Entre em contato</h2>
            <div class="icones-sociais">
                <a href="https://github.com/edinelsonslima" target="_blank">
                    <i class="svg fab fab fa-github-square"></i>
                </a>
                <a href="https://www.linkedin.com/in/edinelson-lima/" target="_blank">
                    <i class="svg fab fab fab fa-linkedin"></i>
                </a>
                <a href="https://wa.me/+5586994116357" target="_blank">
                    <i class="svg fab fab fa-whatsapp-square"></i>
                </a>
                <a href="mailto:edinelsonlima86@gmail.com" target="_blank">
                    <i class="svg far fas fa-envelope-square"></i>
                </a>
                <a href="https://t.me/edinelsonslima" target="_blank">
                    <i class="svg fab fa-telegram"></i>
                </a>
            </div>
            <a href="#mensagem">Ou deixe uma mensagem clicando aqui <i id="arrow-mensagem"
                class="fas fa-angle-down"></i> </a>
            </div>
        </div>
        
        <div class="info-github">
            <h2>Alguns detalhes do meu GitHub <i class="fa fab fa-github-alt"></i> </h2>
            <div class="github-stats">
                <img
                src="https://github-readme-stats.vercel.app/api?username=edinelsonslima&show_icons=true&theme=light&include_all_commits=true&count_private=true&hide_border=true&title_color=800080&icon_color=800080" />
            </div>
            
        <div class="languages">
            <img
            src="https://github-readme-stats.vercel.app/api/top-langs/?username=edinelsonslima&layout=compact&langs_count=16&theme=light&hide_border=true&title_color=800080" />
        </div>

        <div class="snake-github">
            <img src="https://raw.githubusercontent.com/edinelsonslima/edinelsonslima/ea43927e83e94bd52951501089c649d12b1e893d/github-contribution-grid-snake.svg"
            alt="">

        </div>
    </div>

    <div id="mensagem">
        <h2>Deixe uma mensagem</h2>
        <form action="https://api.staticforms.xyz/submit" method="POST">
            <input type="hidden" name="accessKey" value="5672610d-9ff8-4c83-82be-83aedccc0e15">
            <input type="hidden" name="redirectTo" value="#">
            
            <input class="dados" type="nome" name="name" id="nome" placeholder="Nome completo" required>
            
            <input class="dados" type="email" name="email" id="email" placeholder="Email" required>
            
            <textarea name="message" id="menssagem" cols="30" rows="10" required></textarea>
            <input type="submit" value="Enviar" id="submit"></input>
            <small>Ao enviar a mensagem a pagina será recarregada!</small>
        </form>
    </div>
</div>